<h2>Ny liste</h2>

<% form_for(@list) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.submit "Tilføj liste" %>
  </div>
<% end %>
