@import "bindings";
 /* Front page */
body {
  font-family: Georgia, Arial;
}
#headline {
    width: 780px;
    margin: 0 auto;
}
#display {
  width: 780px;
  margin: 0 auto;
  height: 100%;
  padding: 40px 70px 40px 70px;
  #front_logo {
    text-align:center;
    padding:20px 0 40px 0;
    h1 {
      display:inline;
      font-family: 'ChunkFive', Helvetica, Arial, sans-serif;
      font-size: 150px;
      color: $four;
      font-weight:normal;
      text-shadow: 4px 4px 1px $three;
    }
  }
  h1 {
    font-size:30px;
    line-height:28px;
    margin:0;
    font-family: 'Mido';
  }
  p {
    margin: 5px 0 60px 0;
  }
  a {
    text-decoration:none;
    &:hover {
      color: #000;
    }
  }
  .home_box {
    width:350px;
    padding:0;
  }
  #seller {
    float:right;
    width:367px;
    height:305px;
    padding:0;
    margin:0;
    background: url("/images/seller.png");
  }
}
ul {
  margin:0;padding:0;list-style:none;
  li {
    float:left;
    text-align:center;
    font-size:50px;
  }
}
.signup_button, .signin_button_t {
  font-family: 'Mido';
  text-shadow: 0 0 2px rgba(0,0,0,0.3);
  font-size:36px;
	display:block;
  float:left;
  text-align:center;
	width:180px;
  background: #d2ff52; /* old browsers */
  background: -moz-linear-gradient(top, #d2ff52 0%, #91e842 100%); /* firefox */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2ff52), color-stop(100%,#91e842)); /* webkit */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2ff52', endColorstr='#91e842',GradientType=0 );
  margin: 0 80px;
  padding:10px;
  border-radius: 5px;
  -moz-border-radius: 15px;
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 0 2px 1px;
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
/* LOGIN BOX ETC. */
#box_focus {
  z-index:1;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  opacity:0.4;
  background:black;
  display:none;
}
#signin_box, #signup_box {
  font-size: 14px;
  padding: 5px 10px;
  margin:0;
  z-index:2;
  position:absolute;
  width:200px;
  height:200px;
  background:white;
  display:none;
  text-align:left;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 5px rgba(0,0,0,0.6);
  -webkit-box-shadow:0 0 5px rgba(0,0,0,0.6);
  border-radius:10px;
  -moz-border-radius:10px;
}
#signin_box {
  top: 50%;
  left: 50%;
  margin: -105px 0 0 -110px;
}
#signup_box {
  top:50%;
  left:50%;
  margin: -130px 0 0 -110px;
  height:250px;
}
input[type="text"], input[type="password"] {
  width:140px;
}
