* {
}
HTML {
	width: 100%;
}
body {
	font-size:14px;
	margin:0;
	background:#FFF;
  padding:0;
}
h1 {
	margin: 10px 0 10px 0;
  font-size: 24px;
}
h2 {
	margin: 10px 0 10px 0;
	font-size:20px;
}
h3 {
	margin: 0 0 0 0;
	font-size:16px;
}
a {
	color:#C00;
	text-decoration:none;
	font-style:italic;
}
a:hover {
	color: #000;
}
#container {
	margin: 0 auto;
	width: 640px;
}

#header_cont {
	width:100%;
}
#header {
	width: 640px;
	margin:0 auto;
	padding: 0;
}
#header h1, #user_header h1 {
	font-family: "Myriad Pro", Helvetica, Arial, sans-serif;
	font-size: 54px;
	letter-spacing: -5px;
	margin: 0;
	padding: 0;
}
#nav {
	list-style: none;
  margin: 0;
	padding: 0;
}
#nav li {
	display: inline;
	margin-right: 5px;
}
#nav li a {
	text-decoration: none;
	font-style: italic;
	font-size: 24px;
	font-family: Baskerville;
	line-height: 0px;
	color: #C00;
}
#nav li a:hover {
	color: #000;
}
#main {
	width: 100%;
	margin: 10px 0;
	font-family: Georgia, sans-serif;
}
#main h1 {
	font-size: 26px;
	margin: 0;
	padding: 0;
}
#main p {
	margin: 10px 0;
	padding: 0;
}
#footer {
	width: 100%;
	background:#575757;
}
.debug_dump {
	margin: 10px auto;
	width: 600px;
}
ul.users {
	margin-top: 1em;
}
.users li {
	list-style: none;
}
table.stock {
  width:100%;
  text-align:left;
    font-size:12px;
}
  table.stock .quotes {
  }
  table.stock .quotes:hover {
    background: #fae6e6;
    padding: 5px;
    color: #6B246B;
  }
  table.stock .name {
    text-align:left;
    width:130px;
  }
  table.stock .add_rm {
    font-size: 24px;
    text-align:center;
    line-height:50%;
    width:35px;
  }
  table.stock td, table.stock th {
    width:80px;
    text-align:right;
  }
  table.stock .plus {
    color:green;
  }
  table.stock .minus {
    color:red;
  }
  table.stock th {
    border-bottom: 1px solid #E6E6E6;
    padding: 3px 0;
    font-size:14px;
  }
.edit_stock_th {
	width: 150px;
}
.stock_portfolio {
  width:200px;
}
.new_portfolio_divider {
  margin: 15px 0;
  height:1px;
  width:350px;
  color: gray;
  background:gray;
  border:0;
 }
 /* Front page */
.home_box {
  width:280px;
  margin:50px 0;
  padding:0;
  background: white;
}
.home_img {
  width:280px;
  height:277px;
  margin: 5px 0 0 0;
  padding:0;
  float:right;
  position:relative;
  background: url("/images/beachball1.png");
  text-align:center;
}
/* LOGIN BOX ETC. */
#box_focus {
  z-index:1;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  opacity:0.4;
  background:black;
  display:none;
}
.signup_button, .signin_button_t {
	display:block;
	width:180px;
	font-size:140%;
	font-weight:bold;
  background: white;
  margin: 95px auto 0 auto;
  border: 2px solid #C00;
  padding:20px;
  opacity: 0.82;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-box-shadow: rgba(0,0,0,0.8) 0 0 15px;
  -moz-box-shadow: 0 0 15px #000;
}
.signin_button_t {
  margin:33px auto 0 auto;
}
#signin_box, #signup_box {
  padding: 5px 10px;
  margin:0;
  z-index:2;
  position:absolute;
  background:white;
  display:none;
  text-align:left;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 5px rgba(0,0,0,0.6);
  -webkit-box-shadow:0 0 5px rgba(0,0,0,0.6);
  border-radius:10px;
  -moz-border-radius:10px;
}
#signin_box {
  top: -30px;
  left: 40px;
}
#signup_box {
  top:100px;
  left:40px;
}
.error, .notice, .success {padding:.8em;margin-bottom:1em;border:2px solid #ddd;}
.error {background:#FBE3E4;color:#8a1f11;border-color:#FBC2C4;}
.notice {background:#FFF6BF;color:#514721;border-color:#FFD324;}
.success {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.error a {color:#8a1f11;}
.notice a {color:#514721;}
.success a {color:#264409;}
