<h2>Tilføj aktie</h2>

<% form_for(@stock) do |f| %>
  <%= f.error_messages %>
  <div class="field">
    <% stocks = StockYank.find(:all, :conditions => { :id => 1..75 }) %>
    <%= f.collection_select(
                 :stock_id,
                 stocks,
                 :id,
                 :name
                ) %>
  </div>
  <%= f.hidden_field :list_id, :value => params[:list_id] %>
  <div class="actions">
    <%= f.submit "Tilføj aktie" %>
  </div>
<% end %>
