<h1>Modtag aktieinformationer som du vil have dem</h1>
<p>
	Da jeg begyndte at investere i aktier, var aktieverdenen helt ny for mig. Der var titusinde forskellige ting at holde øje med, for på bankernes sider var der for mange informationer. Det betød, at hver gang jeg besøgte siden, brugte jeg tit mere tid på dem, end jeg burde, for selv om jeg kun skulle tjekke de aktier jeg selv havde investeret i, gik der hurtigt mere tid.
</p>
<p>
	Det gik op for mig, at jeg gerne ville have sendt de informationer jeg skulle bruge til min mail og ikke andet, så jeg kunne undgå at bruge for meget tid på bankernes sider, og undgå at få mit hoved fyldt op med rygter. Derfor lavede jeg et script, der sendte netop de aktieinformationer til mig, som jeg gerne ville have, og det fungerede for mig.
</p>
<p>
	Senere gik det op for mig, at jeg ville gøre det endnu bedre -- glatpolere det om man vil. Og hvis jeg alligevel skulle slide i det, hvorfor så ikke gøre det tilgængeligt for andre?
</p>
<p>
	Siden du ser her er et resultat af det projekt det blev til.
</p>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
