<div id="box_focus"></div>
<h1>Hold øjnene på bolden!</h1>
  Børsbossen hjælper dig med at holde øjnene på de aktier der rykker. Den lader dig oprette lister med aktier, og du kan vælge mellem at kigge på dem her på siden, eller få tilsendt notifikationer til din email.
<div>
  <div class="home_img">
<%= link_to "Log ind!", '', :class => "signin_button_t signin" %>
    <div id="signin_box">
      <%= render 'sessions/new' %>
    </div>
<%= link_to "Lav en bruger!", '', :class => "signup_button signup" %>
    <div id="signup_box">
      <%= render 'users/new' %>
    </div>
  </div>
  <div class="home_box">
    <h2>Fjern spildtid</h2>
    <p>Det kan tage tid at investere i aktier, især hvis man bliver nysgerrig. Børsbossen lader dig skære tiden du bruger på dine aktier ind til benet, fordi den kun giver dig præcis de informationer du vil have.</p>
  </div>
  <div class="home_box">
  <h2>Det er let</h2>
  Det er let at lave en bruger og prøve systemet. Det er også let at slette brugeren igen. Der er ingen aktivering, bare skriv dit navn, din mail og dit password gange 2, så er du klar.
  </div>
</div>
<div style="clear:both">
