<div id="box_focus"></div>
<div id="headline">
  <h1 class="home">Focus is key. Swollocks lets you focus.</h1>
</div>
<div id="display">
  <div class="home_img">
<%= link_to "Log ind!", signin_path, :class => "signin_button_t signin" %>
    <div id="signin_box">
      <%= render 'sessions/new' %>
    </div>
<%= link_to "Lav en bruger!", signup_path, :class => "signup_button signup" %>
    <div id="signup_box">
      <%= render 'users/new' %>
    </div>
  </div>
  <div class="home_box">
    <h1>Some say the taste of success is bittersweet..</h1>
    <p>
      .. but we find it to our liking. Swollen Stocks are stocks the way they should be, growing and showing. You might even go as far, as to call them <i>swell</i>.
    </p>
  </div>
  <div class="home_box">
  <h1>We make it easy to be smart</h1>
  <p>
There is no easy way to get paid. Swollocks doesn't make you smart. Muster up the brain power you do have, and let Swollocks help you make the most of it.
  </p>
  </div>
</div>
<div style="clear:both"></div>
