<div id="footer_wrapper">
  <div id="footer">
    <div class="column">
      <h1>Navigation</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><%= link_to "Trades", trades_path %></li>
        <li><%= link_to "Notes", notes_path %></li>
      </ul>
    </div>
    <div class="column">
      <h1>Rights</h1>
    </div>
    <div class="column">
      <h1>Thank you for visiting!</h1>
    </div>
    <div class="column">
      <h1>Jeg puster grise op!</h1>
    </div>
  </div>
</div>
