<div id="header_cont">
	<div id="header">
		<h1>
			Børsboss
		</h1>
		<p>
			Aktieinformationer gjort <br /><b>lette</b> og <b>tilgængelige</b>
		</p>
    <%= render 'layouts/menu' %>
  </div>
</div>
